@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Loader css is here  */
#loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    z-index: 999;
}

:root {
    --pink: #ED0381;
    --purple: #9711e3;
    --yellow: #FFC815;
    --blue: #3628D6;
    --dark-grey: #210049;
    --light-grey: #606060;
    --white: #fff;
    --shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.68);

}

html {
    /* font-size: 62.5%; */
    /* 1rem = 10px  */
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    font-family: 'Inter', sans-serif;
    color: var(--dark-grey);
}

body {
    background-color: var(--dark-grey);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--white);
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
}

p {
    color: var(--white);
    font-weight: normal !important;
}

a {
    text-decoration: none;
}

p,
li,
a,
button,
input {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
}

span {
    color: var(--yellow);
}

input:focus,
textarea:focus {
    outline: none;
}

/* Scrool bar style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-grey);
}


.cta-btn-1 {
    padding: 8px 30px;
    border-radius: 20px;
    font-size: 18px;
    background: rgb(252, 0, 122);
    background: linear-gradient(90deg, rgba(252, 0, 122, 1) 0%, rgba(42, 16, 233, 1) 100%);
    color: var(--white);
    transition: all 0.4s linear;

}

.cta-btn-1:hover {
    font-size: 18px;
    background: rgb(42, 16, 233);
    background: linear-gradient(90deg, rgba(42, 16, 233, 1) 0%, rgba(252, 0, 122, 1) 100%);
    /* background-color: var(--white); */
    /* border: 2px solid var(--yellow); */
    color: var(--white);
    padding: 10px 32px;
    transition: all 0.4s linear;
}

button {
    border: none;
}

.hr {
    background: linear-gradient(90deg, rgba(252, 0, 122, 1) 0%, rgba(42, 16, 233, 1) 100%);
    height: 5px !important;
    width: 134px;
    opacity: 80;
    border-radius: 50px;
    margin-top: -5px;
}

/* -------------------------------- Header style start here  */
.hearder_wrapper {
    /* background-color: #000; */
    position: fixed;
    width: 100%;
    z-index: 10;

}

.fixed-top {
    position: fixed;
    width: 100%;
    background-color: var(--dark-grey);
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    z-index: 10;
    box-shadow: var(--shadow);
}


.nav-link {
    color: var(--white);
}

.nav-link:hover {
    color: var(--yellow);
}

.active {
    color: var(--yellow);
}

.navbar-toggler {
    box-shadow: none !important;
}

.navbar-toggler ion-icon {
    font-size: 40px;
    color: var(--white);
    box-shadow: none;

}

.navbar-brand img {
    width: 88px;
}

.main-btn {
    margin-left: 10px;
}

/* -------------------------------- Banner section style start here  */
.banner-bg {
    background-image: url(../img/banner-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -9;
}

.banner-wraper {
    position: relative;
    padding-top: 100px;
    color: var(--white);
    text-align: center;
}

.banner-wraper img {
    width: 525px;
    /* margin-top: 40px;
    margin-bottom: 20px; */
}

.banner-wraper p {
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

/* -------------------------------- Service section style start here  */
.service-bg {
    background-image: url(../img/service-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.service-sec {
    position: relative;
    padding-top: 100px;
}

.service-sec .bg-year {
    position: absolute;
    z-index: -1;
    top: 10px;
    font-size: 250px;
    text-shadow: 2px 16px 12px #000;
    color: #372368;
    /* opacity: .2; */

}

.service-box {
    background-color: var(--white);
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    /* max-width: 500px; */
    margin: 0px 5px;
    transition: all 0.5s linear;
}

.service-box:hover {
    background-color: var(--blue);
}

.service-box:hover img {
    border: 10px solid var(--white);

}

.service-box:hover h3,
.service-box:hover p {
    color: var(--white);
    transition: all 0.5s linear;
}

.service-box-1 {
    margin-top: -50px;
    margin-bottom: 50px;
}

.service-box-2 {
    margin-top: -100px;
    margin-bottom: 100px;
}

.service-box-3 {
    margin-top: -55px;
    margin-bottom: 55px;

}

.service-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--pink);
    margin-bottom: 15px;
}

.service-box h3 {
    color: #000;
}

.service-box p {
    color: var(--light-grey);
}

/* -------------------------------- About section style start here  */
.gradiant-bg {
    position: relative;
    background: rgb(42, 16, 233);
    background: linear-gradient(90deg, rgba(42, 16, 233, 1) 0%, rgba(252, 0, 122, 1) 100%);
}

.gradiant-gr {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.about-img-slide img {
    -webkit-box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    -moz-box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    box-shadow: -18px 17px 0px -5px rgba(255, 200, 21, 1);
    border-radius: 10px;
    width: 500px;
}

.about-bg p {
    color: var(--white);
}


/* -------------------------------- Our Project section style start here  */
.project-sec {
    background-image: url(../img/team-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.project-box {
    width: 210px;
    height: 350px;
    box-shadow: var(--shadow);
    margin: 10px;
    border-radius: 20px;

}

.project-box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* -------------------------------- Review section style start here  */

.review-slider {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-slide {
    margin: 41px 10px 10px;
    /* max-width: 365px; */
    background-color: var(--dark-grey);
    padding: 20px;
    border-radius: 4px;
}

.review-slide hr {
    color: var(--white);
}

.review-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--yellow); */
}

.review-img img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: -65px;
    border: 5px solid var(--dark-grey);
}

/* -------------------------------- Team section style start here  */
.team-sec {
    background-image: url(../img/team-bg.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

.team-sec .hr {
    margin: auto;
}

.team-slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-slide {
    padding: 10px;
    margin: 10px;
    max-width: 600px;
}

.team-content {
    z-index: 1;
}

.team-img img {
    width: 440px;
    height: 250px;
    margin-top: -40px;

    -webkit-box-shadow: -15px -15px 0px 5px rgba(237, 3, 129, 1);
    -moz-box-shadow: -15px -15px 0px 5px rgba(237, 3, 129, 1);
    box-shadow: -15px -15px 0px 5px rgba(237, 3, 129, 1);
}

.team-img-rev img {
    -webkit-box-shadow: 15px -15px 0px 5px rgba(237, 3, 129, 1);
    -moz-box-shadow: 15px -15px 0px 5px rgba(237, 3, 129, 1);
    box-shadow: 15px -15px 0px 5px rgba(237, 3, 129, 1);
}

.team-slide p {
    color: var(--white);
}

.team-slide .bg-blue {
    padding: 20px;
    margin-right: -40px;
    margin-left: 40px;
    /* width: fit-content; */
    background-color: var(--blue);
}


.reverse-team-slide .bg-blue {
    padding: 20px;
    margin-left: -40px;
    margin-right: 40px;
    width: fit-content;

}

.bg-blue h4 {
    color: var(--white);
    font-weight: 200;
}

/* -------------------------------- Contact section style start here  */
.contact-cta-sec {
    position: relative;
}

.contact-cta-sec .map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-gp {
    position: absolute;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}

.contat-form-sec {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.contat-form-sec h2 {
    color: var(--pink);
}

.contat-form-sec p {
    color: var(--light-grey);
}

.form-control:focus {
    border-color: var(--yellow);
    box-shadow: 0 0 0 0.25rem var(--yellow);
}

.location-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.location-nav a {
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: var(--white);
}

.location-nav ion-icon {
    font-size: 50px;
    color: var(--white);
}

.location-nav a:hover {
    color: var(--yellow);

}

/* -------------------------------- Footer section style start here  */
.logo img {
    width: 155px;
}

footer {
    background-color: var(--dark-grey);
    color: var(--white);
}

footer a {
    color: var(--white);
    transition: all 0.5s linear;
}

footer a:hover {
    color: var(--yellow);
    /* margin-left: 10px; */
    transition: all 0.5s linear;

}

footer li {
    margin-bottom: 15px;
}

#mylocation {
    width: 100%;
    height: 215px;
    border: 5px solid var(--white);
    border-radius: 5px;
}

.scroll-top {

    bottom: 30px;
    right: 20px;
    position: fixed;
}

.scroll-top i {
    font-size: 30px;
}

.social-link {
    display: flex;
    gap: 20px;
    align-items: center;

}


.social-link a {
    padding: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a i {
    font-size: 20px;
    color: var(--white);
}

.social-link a:hover {
    /* color: var(--yellow); */
    background-color: var(--dark-grey);
    border: 2px solid var(--white);
}

.map {
    height: 170px;
    /* border-radius: 10px; */
    border: 5px solid var(--light-grey);
}


/* inner-page css is here  */

.work-content, .web-heading{
    position: relative;
}
.work-arrow-right {
    position: absolute;
    /* bottom: 0; */
    right: 0;
}
.work-arrow-left {
    position: absolute;
    /* bottom: 0; */
    left: 0;
}